
.boody{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    display: inline;
}
#BRspace{
  background-color: #0080806c;
}
.aceLogo{
  height:150px;
  display: inline;
  float: left;
}
header{
    margin: 15px;
}
/* #008080  #0080806c */

.container-fluid{
  z-index:1;
  margin-top: -10px;
  margin-bottom: -8px;
  background: linear-gradient(to left, 
  #008080, 
  #008080c5 20%, 
  #0080807a 40%, 
  #00808038 60%, 
  white 80%
);
}

.navbar-brand{
  transition: 1s;
}

.navbar-brand:hover{
  box-shadow: 5px 6px #803f98a8;
}
.dropdown-toggle{
background: #803f985e;
}
.offcanvas-body{
  background: #803f985e;
}
.offcanvas-header{
  background: #803f985e;
}

.navbar-toggler{
  float: right;
}
.dropdown{
  float: right;
}
.navbar{
  background: seagreen;
}
#mainH1{
  position: relative;
  z-index: 2;
  color: black;
  text-align: center;
}
